<div class="container mt-lg-5" style="max-width:70%">

  <div class="row row-cols-2" >

    <div class="col-md-2 border">
      <div class="row border">
        <div class="col-12" style="padding: 30px; background:#35879A; text-align: center; color: white;">
          <div class="profile-container">
            <img alt="Photo" class="img-fluid" src="assets/img/Photo.png">
            <h1 class="name">Ben Shepley</h1>
            <h3 class="tagline">Full Stack Developer</h3>
          </div>
        </div>
        <div class="col-12" style="background:#42A8C0; color: white;">
          <p>Summary</p>
        </div>
      </div>
    </div>

    <div class="col-md-10 border">
      <div class="row border">
        <div class="col-12">
          <h2>Introduction</h2>
          <p>
            TWELVE years experience as a software engineer. Purdue Educated, detail-oriented, military-trained leader,
            and a full stack Cloud Java Web Application Developer who specializes in the Spring framework. Experienced
            at setting up new projects and working on existing. An effective communicator in cross-functional teams,
            but also shown to be self-motivated and work independently.
          </p>
        </div>

        <div class="col-12">
          <h2>Skill Summary</h2>
          <p>
            <b class="ps-5">FRONT-END:</b> Angular 17, Bootstrap 5, HTML5, CSS3, TypeScript <br/>
            <b class="ps-5">BACK-END:</b> Java 21, Spring Boot, Spring MVC, Spring Security, Spring Batch, Spring JPA, AOP <br/>
            <b class="ps-5">TECHNOLOGIES:</b> REST, JSON, CSV, YAML, HTTP (Microservices), OAuth2 <br/>
            <b class="ps-5">DATABASES:</b> Microsoft SQL, Postgresql, Oracle, Flyway <br/>
            <b class="ps-5">TOOLS:</b> WebStorm, IntelliJ, GIT, Tomcat, JBoss <br/>
            <b class="ps-5">CLOUD TECHNOLOGIES:</b> (AWS) S3, ECS, CloudWatch, Secrets, Parameter Store, etc…
          </p>
        </div>

        <div class="col-12">
          <h2>Recent Professional Experience</h2>

        </div>
      </div>
   </div>

  </div>

</div>
